<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forma_vypuska.name %>
</p>

<%= link_to 'Edit', edit_forma_vypuska_path(@forma_vypuska) %> |
<%= link_to 'Back', forma_vypuskas_path %>
