<div class="btn-group">
  <% flags =      [:helpful,              :nonhelpful,             :callendar] %>
  <% glyphicons = ["glyphicon-thumbs-up", "glyphicon-thumbs-down", "glyphicon-calendar"] %>
  <% links = [:helpful, :nonhelpful, :callendar] %>
  
  <% links.zip(glyphicons).each do |link, glyph| %>
    <% if user_signed_in? %>
      <% path = show_modal_path(medication, :flag => link) %>
    <% else %>
      <% path = show_modal_login_path %>
    <% end %>
	  <%= link_to raw("<span class='glyphicon #{glyph.to_s}'></span>"), path,  {:class => "btn " +  murkup_flagged(medication, current_user, link), :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
  <% end %>
</div>