/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 *= require comments
 *= require bootstrap
 *= require bootstrap_overrides
 */


.highlight {
    border-color: red !important;
}

.sign-label {
    display: inline-block !important;
    padding-bottom: 10px;
}

button.secondary, .button.secondary  {
    font-size: 18px !important;
    padding: 0.35em 0.5em 0;
}

.button-selected {
    background-color: #8ac340 !important;
}

#help {
    float: right;
}

.header {
    font-size: 16px;
    font-weight: 600;
}

.user-title {
    font-size: 14px;
    font-weight: 700;
	text-align: left;
	width: 100%;
	display: block;
	color: blue;
	word-wrap: break-word;
	padding-bottom: 3px;
}

.panel {
	word-wrap: break-word;
}

.time_ago {
	color: #ababab;
}

.helpful_content {
	border-style: solid;
	border-color: #c8c6c6;
	border-radius: 4px;
	border-width: 1px;
	margin-top: 8px;
	padding: 5px 9px 5px 9px;
	background-color: #efefef;
}

textarea {
  resize: vertical;
}

.help_buttons {
	float: right;
}

.list_item {
	padding-bottom: 15px;
}

.breadcrumbs {
	margin-bottom: 0px !important;
}

#facets ul {
	list-style: none;
}

.top-bar {
background: -webkit-gradient(linear, left top, right top, color-stop(0%,
#222), color-stop(25%,
#c800c8), color-stop(50%,
#17c4de), color-stop(75%,
#C800C8), color-stop(100%,
#222));
-webkit-background-size: 8000px 1px;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-animation: gradient_pan 20s infinite linear;
}
